body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 60%;
  height: 75%;
  border: 5px solid black;
}

.left {
  width: 20%;
  height: 100%;
  border-right: 5px solid black;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.right {
  width: 80%;
  height: 100%;
}

.block {
  width: 100px;
  height: 100px;
  border: 5px solid black;
  margin: 30px 0;
}
